.cart-wrapper{
    background: #ffffff;
    width: 90%;
    margin-left: 5%;
    padding: 1.4rem;
    font-weight: 600;
    position:absolute;
    top: 100px;
    z-index: 1000;
}

.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-all-span,
.continue-shopping-span{
    color: #a5a0a0;
    text-decoration: underline;
    font-weight: 500;
}

.continue-shopping-span{
    color: #D87D4A;
}

.remove-all-span:hover,
.continue-shopping-span:hover{
    cursor: pointer;
}

.cart-wrapper img{
    width: 64px;
    height: 64px;
}

.checkout-button{
    border: none;
    background-color: #D87D4A;
    color: #FFFFFF;
    font-weight: 600;
    height: 3.5em;
    width: 100%;
    letter-spacing: .1rem;
    margin-bottom: 1.5rem;
}

.cart-wrapper .counter{
    width: 97px;
    font-weight: 400;
}

@media (min-width:420px){
    .cart-wrapper{
        width: 377px;
        right: 5%;
    }
}