.category-title {
    width: 100%;
    height: 100px;
    background-color: #101010;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2em;
    display: grid;
    place-items: center;
}

.products-wrapper {
    color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.product-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 2rem;
}

.product h4 {
    color: #D87D4A;
    font-weight: 300;
    letter-spacing: .2rem;
}

.product img {
    width: 90%;
}

.product p {
    width: 87%;
    color: #a5a0a0;
    text-align: center;
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.5;
}

.product button {
    text-decoration: none;
    border: none;
    background-color: #D87D4A;
    color: #FFFFFF;
    font-weight: 600;
    height: 3.5em;
    width: 11em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: .8rem;
}

@media (min-width:768px) {
    .category-title{
        height: 120px;
    }

    .product{
        flex-direction: row; 
        justify-content: space-around;
        width: 90vw;
        margin-top: 5rem;
    }

    .product > * {
        margin: 0 2rem;
    }
    
    .product-div{
        align-items: start;
    }

    .product:nth-child(even){
        flex-direction: row-reverse;
    }

    .product img {
        width: 40%;
        margin-left: 3rem;
    }

    .product p {
        text-align: start;
    }

    .product h2 {
        margin-top: 0;
    }
}